main {
    background-image: linear-gradient(to bottom right, rgb(255, 221, 180), #FFFFFF);
    background-size: cover;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background-color:bisque;
}

::-webkit-scrollbar-thumb {
    background-color: #2D0C03;
    border-radius: 20px;
}

html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
    color: #2D0C03;
    font-size: 2.25rem;
    font-weight: 200;
    padding: 0 2rem;
}

.logo:hover {
    cursor: default;
}

nav a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #2D0C03;
    padding: 0 1.5rem;
}

nav a:hover {
    color: #98504B;
}

.logo2 {
    color: #2D0C03;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0 2rem;
}

.github {
    background-color: transparent;
    color: #2D0C03;
}

.github:hover {
    background-color: transparent;
    color: #2D0C03;
    transform: scale(1.5);
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.split-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.three-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2D0C03;
    padding: 0rem 2rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about_paragraph {
    text-align: left;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: bold;
}

.column h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: bold;
}

.column h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.headline {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 1.5;
}

p {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

button {
    padding: 1rem 3rem;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    color: rgb(255, 240, 221);
    background-color: #2D0C03;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s;
}

button:hover {
    background-color: white;
    color: #000;
    transform: scale(1.2);
    box-shadow: 0 5px 15px rgba(152, 80, 75, .4);
    
}

.contact_btn {
    display: flex;
    justify-content: space-between;
}

.arrow_icon {
    padding-left: 15px;
}

.socials {
    padding: 1rem 3rem;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    color: bisque;
    background-color: #98504B;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s;
}

.socials:hover {
    background-color: transparent;
    color: white;
    transform: scale(1.8);
}

.hero {
    padding: 0.5rem;
}

.hero-image {
    width: 300px;
    clip-path: circle();
}

.card {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    transition-timing-function: all .5s ease-in-out;
    transition: .5s;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(152, 80, 75, .4);
}

.Contact {
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: #98504B;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.end {
    color: antiquewhite;
    padding-bottom: 20px;
}

.project {
    padding: 1rem 3rem;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    color: #98504B;
    background-color: bisque;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s;
}

.project:hover {
    background-color: white;
    transform: scale(1.2);
}

footer {
	background-color: #98504B;
    padding: 20px;
	text-align: center;
	color: bisque;
}

.trademark {
    padding-top: 30px;
    font-size: 1rem;
}


@media screen and (max-width: 900px){

    .hero-container{
        grid-template-columns: 1fr;
    }

    .split-container {
        grid-template-columns: 1fr;
    }
    
    .three-container {
        grid-template-columns: 1fr;
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #2D0C03;
        padding-bottom: 50px;
    }
}